@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  margin: 4px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
  background-color: #eee;
}

.footer, .header {
  position: sticky;
  display: flex;
  padding: 16px;
}

.buttons {
  margin: 8px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

li a {
  text-decoration: none;
  margin: 0px 8px;
  color: grey;
}

.right-links, .left-links {
  margin: 0px 16px;
}

.right-links {
  margin-left: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
