* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: grid;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 128px 64px 1fr 48px;
  gap: 4px;
  text-align: center;
  height: 100vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-row: 1;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #393f4d;
  align-items: center;
}

.menu ul,
.menu li {
  font-size: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.nav ul,
.nav li {
  grid-template-columns: repeat(3, 1fr);
}

.sidebar {
  grid-row: 2 / 4;
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo {
  display: grid;
  align-items: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-items: center;
}

.nav {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  background-color: #C50208;
  align-items: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
  display: grid;
  align-items: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-row: 4;
  grid-column: 1 / 4;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
